.addBtn {
  position: fixed !important;
  top: 88%;
  left: 3%;
  z-index: 100;
  background-color: #7654b4 !important;
  height: 50px !important;
  width: 50px !important;
}

.dialogBox {
  width: 100%;
  height: sauto;
}

//Caption TextBox
.textBox::-webkit-scrollbar {
  width: 4px;
}
.textBox::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #9581da;
}

@media only screen and (max-width: 600px) {
  .addBtn {
    // height: 20px !important;
    // width: 37px !important;
  }
}
