.addBtn {
  position: fixed !important;
  top: 90%;
  left: 2%;
  z-index: 100;
  background-color: #7654b4 !important;
  height: 50px !important;
  width: 50px !important;
}

.dialogBox {
  width: 100%;
  height: sauto;
}

//Caption TextBox
.textBox::-webkit-scrollbar {
  width: 4px;
}
.textBox::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #9581da;
}

@media only screen and (max-width: 600px) {
  .postGrid:first-child {
    margin-top: 54px !important;
  }
}

.postGrid:last-child {
  margin-bottom: 100px !important;
}

.postGrid:first-child {
  margin-top: 64px;
}
