@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@500&display=swap");
.lgBtn {
  background-color: #000 !important;
  text-transform: unset !important;
  color: #8685ef !important;
  height: 38px;
  .googleSvg {
    height: 23px;
    margin-right: 10px;
  }
}

.header {
  display: grid;
  font-family: "Asap Condensed", sans-serif;
  font-size: 3.3rem;
  color: inherit;
  // letter-spacing: 2px;
  font-weight: 300;
  text-align: center;
}

.appName {
  font-family: "Covered By Your Grace", cursive;
  color: #8685ef;
}
