@import url("https://fonts.googleapis.com/css2?family=Damion&display=swap");

.lgBtn {
  background-color: #000 !important;
  text-transform: unset !important;
  color: #8685ef !important;
  height: 38px;
  .googleSvg {
    height: 23px;
    margin-right: 10px;
  }
}

.header {
  font-family: "Damion", cursive;
  font-size: 3.3rem;
  color: #00ac7c;
  letter-spacing: 2px;
  font-weight: 300;
}
