@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
.container{
    display: flex;
    justify-content: center;
}

.header{
    color: #000000;
    font-size: 30px !important;
    /* font-family: 'Satisfy', cursive !important; */
    font-family: 'Kaushan Script', cursive !important;
}

.toolbar{
    display: flex;
    justify-content: space-between;
}

.KeyboardArrowUpIcon{
    z-index: 10000 !important;
    margin-bottom: 53px !important;
    background-image: linear-gradient(0deg, rgb(105, 246, 112),rgb(245, 241, 39),rgb(175, 244, 75),rgb(35, 249, 148));
  }

  .logout{
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px;
      font-size: 5px;
  }
