$post-border-color-size: 1px solid #d8d8db;

.container {
  margin: 0 auto;
  background-color: #ffffff;
  /* margin-top: 70px; */
}

.paper {
  width: 450px;
  height: auto;
  margin: 15px 0;
  border-radius: 5px !important;
  background-color: #e3e0f3 !important;
}

.post_header {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
  padding: 5px;
}

.post_header_profile {
  display: flex;
  align-items: center;
}

.post_avatar {
  /* padding: 5px; */
}

.username {
  padding: 0 8px !important;
}

.post_img {
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-height: 300px;
  max-height: 500px;
  // border-top: $post-border-color-size;
  // border-bottom: $post-border-color-size;
}

.posted_comments {
  overflow-wrap: break-word;
}

.users_comments {
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 5px 10px;
}

.post_footer {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.comment_box {
  display: flex;
  border-top: 1px solid #d1d1d1;
  // margin-top: 10px;
  /* height: px; */
}

.comment_box_input {
  flex: 1;
  border: none;
  padding: 10px;
  // padding-top: 20px;
  overflow-wrap: break-word !important;
  word-break: break-word;
  // line-height: 10px;
  resize: none;
  background-color: #e3e0f3 !important;
  border-bottom-left-radius: 5px;
}
.comment_box_input::-webkit-scrollbar {
  width: 5px;
}
textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285f4;
}

.comment_box_input:focus {
  border: none !important;
  outline: none;
}

.comment_box_button {
  flex: 0;
  text-transform: lowercase;
  color: #00ac7c !important;
  cursor: pointer;
}

.commentersPic {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 600px) {
  .paper {
    width: 95vw;
  }
  .container {
    width: 95vw;
  }

  .skelCard {
    width: 90vw;
  }
}

// Skeleton
.skelCard {
  width: 400px;
  background-color: #e3e0f3 !important;
}
