$post-border-color: rgb(240, 240, 240);

.container {
  margin: 0 auto;
  // background-color: #ffffff;
  /* margin-top: 70px; */
}

.paper {
  width: 450px;
  height: auto;
  margin: 15px 0;
  border-radius: 5px !important;
}

.paper_dark {
  background-color: #5c5c5c !important;
}
.paper_light {
  background-color: #ffffff !important;
}
.paper_remix {
  background-color: #cdc3ff !important;
}

.post_header {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between;
  padding: 5px;
}

.post_header_profile {
  display: flex;
  align-items: center;
}

.post_avatar {
  /* padding: 5px; */
}

.username {
  // padding: 0 8px !important;
  // color: #565558 !important;
  font-size: 15px;
}

.post_img {
  display: flex;
  justify-content: center;
  max-width: 100%;
  min-height: 210px;
  max-height: 450px;
  // border-top: $post-border-color-size;
  // border-bottom: $post-border-color-size;
}

.posted_comments {
  // overflow-wrap: break-word;
  font-size: 0.75rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03333em;
  line-height: 20px;
}

.users_comments {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  gap: 3px;
  padding: 5px 10px;
  word-break: break-word;
}

.post_footer {
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.textBox::-webkit-scrollbar {
  width: 4px;
}
.textBox::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #9581da;
}

.comment_box_button {
  flex: 0;
  text-transform: lowercase;
  color: #00ac7c !important;
  cursor: pointer;
}

.commentersPic {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 600px) {
  .paper {
    width: 95vw;
  }
  .container {
    width: 95vw;
  }

  .skelCard {
    width: 90vw;
  }
}

// Skeleton
.skelCard {
  width: 400px;
  background-color: #e3e0f3 !important;
}

// Emoji Selectors
.PokemonSelector_Idle {
  // -webkit-animation: slide-out 0.5s ease-in-out;
  // animation: slide-out 0.5s ease-in-out;
  // -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.PokemonSelector_Active {
  -webkit-animation: slide-in 0.5s ease-in-out;
  animation: slide-in 0.5s ease-in-out;
}

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
}
