@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
  /* scroll-behavior: smooth; */
  /* transition: background-color 2s ease-in-out !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Material UI */
.MuiSnackbarContent-root {
  flex-grow: 0 !important;
  display: flex !important;
  justify-content: center !important;
}
.MuiSnackbarContent-message {
  padding: 0 !important;
}

.MuiSnackbar-anchorOriginTopCenter {
  top: 45px !important;
}

@media (min-width: 600px) {
  .MuiSnackbarContent-root {
    flex-grow: initial;
    min-width: 100px !important;
  }
}
